body{
    background-image: linear-gradient( to left, rgb(235, 235, 235), black 80%);
    background-repeat: no-repeat;
    height: 154vh;
    zoom: 95%;
}

.row{
    margin: auto;
    max-width: 445px;
    padding: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
}

img{
    display: block;
    margin: auto;
    margin-bottom: 30px;
    height: 100px;
}

label{
    padding-left: 10px;
}

input, textarea, select{
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    margin-bottom: 30px;
    resize: none;
    transition: 0.7s;
}

input:hover, select:hover, textarea:hover{
    border-color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.1s;
}

input:hover::placeholder, select:hover::placeholder, textarea:hover::placeholder{
    color: black;
    transition: 0.1s;
}

input::placeholder{
    transition: 0.7s;
}

button{
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    border-width: 1px;
    transition: background-color 0.3s ease;
    margin: 0 auto;
    display: block;
    box-shadow: 1.6px 1.6px 1.6px 1.6px rgba(0, 0, 0, 0.767);
}

button:hover{
    background-color: rgb(61, 61, 61);
}

button:active{
    background-color: white;
    color: black;
    border: 1px solid black;
    box-shadow: 0.3px 0.3px 0.3px 0.3px black;
    transition: 0.02s;
}