/* First Load */
section
{
    margin-top: 180px;
    height: 1000px;
}

#firstLoad
{
    margin: auto;
    display: flex;
    width: 250px;
    height: 150px;
    background-color: white;
    border-radius: 20px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#firstLoad_div
{
    border: 2px solid #BC3F86; 
    border-top: 0px solid #BC3F86; 
    border-right: 0px solid #BC3F86;
}

/* "First Page" */
body
{
    background-image: linear-gradient( 67deg, #382682 35%, #d52a7dc4);
    overflow-x: hidden;
    overflow-y: hidden;
}

.row
{
    margin: auto;
    max-width: 445px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.932);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 1s;
    transform: 1s;
    opacity: 0;
}

img
{
    display: block;
    margin: auto;
    margin-bottom: 30px;
    height: 100px;
    transition: 0.4s;
}

label
{
    padding-left: 10px;
}

i
{
    color: #BC3F86;
}

i:hover
{
    color: #ec5bad;
    cursor: pointer;
}

input, textarea, select
{
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    margin-bottom: 30px;
    display: block;
    resize: none;
    overflow: hidden;
    transition: 0.7s;
}

input:hover, select:hover, textarea:hover{
    border-color: #A31D7F;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.1s;
}

input:hover::placeholder, select:hover::placeholder, textarea:hover::placeholder{
    color: #A31D7F;
    transition: 0.1s;
}

input::placeholder{
    transition: 0.7s;
}

#Cliente 
{
    color: black;
}

.toggle {
    position: absolute;
    top: 20px;
    display: block;
    width: 140px;
    height: 40px;
    padding: 3px;
    margin: auto;
    margin-bottom: 40px;
    border-radius: 50px;
    cursor: pointer;
    opacity: 0;
    z-index: -1;
 }

 .toggle-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
 }

 .toggle-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 12px;
    background: #ccc;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 3px
    rgba(0, 0, 0, 0.15);
 }
 
 .toggle-label:before,
 .toggle-label:after {
    position: absolute;
    top: 50%;
    color: black;
    margin-top: -.5em;
    line-height: 1;
 }
 .toggle-label:before {
    content: attr(data-off);
    right: 11px;
    color: #BC3F86;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    font-weight: bolder;
 }
 .toggle-label:after {
    content: attr(data-on);
    left: 11px;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    opacity: 0;
 }
 .toggle-input:checked~.toggle-label {
    background: #BC3F86;
 }
 .toggle-input:checked~.toggle-label:before {
    opacity: 0;
 }
 .toggle-input:checked~.toggle-label:after {
    opacity: 1;
 }
 .toggle-handle {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 38px;
    height: 38px;
    background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
    border-radius: 50%;
 }
 .toggle-handle:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 16px;
    height: 16px;
 }
 .toggle-input:checked~.toggle-handle {
    left: 104.5px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
 }

 /* Transition*/
 .toggle-label,
 .toggle-handle {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
 }

button{
    background-color: #BC3F86;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    border-width: 1px;
    transition: background-color 0.3s ease;
    margin: 0 auto;
    display: block;
    box-shadow: 1.6px 1.6px 1.6px 1.6px rgba(0, 0, 0, 0.767);
}

button:hover{
    background-color: #ec5bad;
}

button:active{
    background-color: white;
    color: #ec5bad;
    border: 1px solid #BC3F86;
    box-shadow: 0.3px 0.3px 0.3px 0.3px #91386a;
    transition: 0.02s;
}

.loader {
    margin: auto;
    border: 4px solid #ffffff00;
    border-top: 2px solid white;
    border-right: 4px solid white;
    border-radius: 25px;
    width: 18px;
    height: 18px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 0.6s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader:active { /* Rever */
    margin: auto;
    border: 4px solid #ffffff00;
    border-top: 2px solid #BC3F86;
    border-right: 4px solid #BC3F86;
    border-radius: 25px;
    width: 18px;
    height: 18px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 0.6s linear infinite;
}

/* "Second page" */

/*
.hidden_element_on
{
    position: absolute;
    opacity: 0;
    z-index: -1;
}*/

h1 {
    position: absolute;
    opacity: 0;
    text-align: center;
    color: #BC3F86;
    text-shadow: rgb(188, 63, 134) 1px 0px 0px, rgb(188, 63, 134) 0.540302px 0.841471px 0px, rgb(188, 63, 134) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 1px, rgb(0, 0, 0) 0.96017px -0.279415px 1px;
    font-weight: bolder;
    z-index: -1;
    margin-bottom: -30px;
}

#bulkHSM_label {
    position: absolute;
    margin-top: 70px;
    margin-left: 10px;
    opacity: 0;
    z-index: -1;
    font-weight: bold;
}

#file_input {
    position: absolute;
    margin-top: -14px;
    z-index: -1;
    opacity: 0;
    margin-bottom: 15px;
}

#file_example {
    position: absolute;
    opacity: 0;
    transition: .4s;
    text-align: center;
    text-decoration: none;
    color: #91386a;
    z-index: -1;
    transition: 0;
}

#file_example:hover {
    text-decoration: underline;
    color: #cf2284;
}

.table-wrapper {
    position: absolute;
    bottom: 1px;
    margin-left: -1px;
    margin-top: 0px;
    height: 0px;
    border: 1px solid black;
    opacity: 0;
    z-index: -1;
    overflow: auto;
    border-radius: 5px 5px 5px 5px;
}

table {
    border: 1px solid black;
}

table th, table td 
{
    padding: 5px;
    transition: 1s;
}